<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="demo">
      <input type="text" v-model="searchName" />
      <ul>
        <li v-for="(p,index) in filterPerson">
          {{index}}---{{p.name}}---{{p.age}}
        </li>
      </ul>
      <button @click="setOrderType(1)">升序</button>
      <button @click="setOrderType(2)">降序</button>
      <button @click="setOrderType(0)">不变</button>
    </div>
    <script src="./vue.js"></script>
    <script>
      new Vue({
        el: "#demo",
        data: {
          searchName: "",
          orderType: 0, //0不变，1升序，2降序
          persons: [
            {
              name: "tom",
              age: 11,
            },
            {
              name: "jerry",
              age: 28,
            },
            {
              name: "hhs",
              age: 19,
            },
          ],
        },
        computed: {
          filterPerson() {
            const { searchName, persons, orderType } = this;
            let fPersons;
            fPersons = persons.filter((p) => p.name.indexOf(searchName) !== -1);
            if (orderType !== 0) {
              fPersons.sort(function (p1, p2) {
                //如果返回负数p1在前，返回正数p2在前
                if (orderType === 1) {
                  return p1.age - p2.age;
                } else {
                  return p2.age - p1.age;
                }
              });
            }
            return fPersons;
          },
        },
        methods: {
          setOrderType(value) {
            this.orderType = value;
          },
        },
      });
    </script>
  </body>
</html>
